@keyframes glow {
  0% {
    box-shadow: 0 0 5px #34d399, 0 0 10px #34d399, 0 0 20px #34d399;
  }
  50% {
    box-shadow: 0 0 10px #34d399, 0 0 15px #34d399, 0 0 25px #34d399;
  }
  100% {
    box-shadow: 0 0 5px #34d399, 0 0 10px #34d399, 0 0 20px #34d399;
  }
}
